@import "tailwindcss";

body {
  @apply bg-white text-black font-sans antialiased;
}


.shein-font {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}